@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400&family=Montserrat:wght@100;300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.nav {
  color: #fff;
  display: flex;
}

.nav-items{

}